# Never commit this file as .env. It contains private browser-session credentials.
LEETCODE_USERNAME=ajit006
LEETCODE_SESSION=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfYXV0aF91c2VyX2lkIjoiMTc2NDAxNTAiLCJfYXV0aF91c2VyX2JhY2tlbmQiOiJhbGxhdXRoLmFjY291bnQuYXV0aF9iYWNrZW5kcy5BdXRoZW50aWNhdGlvbkJhY2tlbmQiLCJfYXV0aF91c2VyX2hhc2giOiJhMmM5M2ZhMTE1ZTA2ZjhkM2UyNjllMjU4NGI0YTc4Mjk3NzE2YTZjNzIyNzFjYzRlYzMwOTRlZmRlOGJiNWExIiwic2Vzc2lvbl91dWlkIjoiOGMxOGRlNTkiLCJpZCI6MTc2NDAxNTAsImVtYWlsIjoiY2hpa3VjaGlrdWFiMDBAZ21haWwuY29tIiwidXNlcm5hbWUiOiJhaml0MDA2IiwidXNlcl9zbHVnIjoiYWppdDAwNiIsImF2YXRhciI6Imh0dHBzOi8vYXNzZXRzLmxlZXRjb2RlLmNvbS91c2Vycy9kZWZhdWx0X2F2YXRhci5qcGciLCJyZWZyZXNoZWRfYXQiOjE3ODg4ODAxMDIsImlwIjoiMjAyLjEzNy4yMTEuMTMyIiwiaWRlbnRpdHkiOiJiODY4NmRjMDAxMTAzNzhkNGY2MmQwZWFmOTE5NjAwMCIsImRldmljZV93aXRoX2lwIjpbIjJkMjVlNWY1MGUxMTQ5YTA1MTc5ODdhNjMxZGE5OGMyIiwiMjAyLjEzNy4yMTEuMTMyIl0sIl9zZXNzaW9uX2V4cGlyeSI6MTIwOTYwMH0.2YWEwACflOaPAtG5b3DJ306YCGcwF6KBNLHGA7zoNzk
# Optional, but helpful if LeetCode requests CSRF protection.
LEETCODE_CSRF_TOKEN=5veMykwJGJaGTrqP9IdWEgrUD3KyAf6g
